@import url("/CSS/base.css");


body{
    width:100%;
    display: grid;
    grid-template-areas: "nav main"; 
    /* ini nav nya hanya sebagai dummy aja soal nya nav yg asil pakai fix bkn grid */
    grid-template-columns: 150px 1fr;
}

.nav{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    width: 150px;
}

.nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:60px;
    height:60px;
    border-radius: 50px;
    margin-bottom:30px;
    transition: .3s
}

.nav div:not(:first-child):hover{
    background-color: var(--red);
    transition: .3s;
}

.nav img{
    margin: 0 auto;
}

.nav .tab img{
    width: 80%;
}

.nav .home{
    background-color: var(--red);
}

.nav div:last-child{
    margin-top: 70px;
    margin-bottom: 0;
}

.main-container{
    width: 100%;
    grid-area: main;
    background-color: #E5E5E5;
    min-height: 100vh;;
}
